[GLOBAL]
BADGEKIT_ADMIN_REPO = https://github.com/mozilla/openbadges-badgekit.git
BADGEKIT_API_REPO = https://github.com/mozilla/badgekit-api.git

[ANSIBLE]
API_ENV_FILE_DEST = 
ADMIN_ENV_FILE_DEST =
MYSQL_SETTINGS_DEST = 
API_INSTALL_DEST = 
ADMIN_INSTALL_DEST = 
GLOBAL_SETTINGS_DEST = 

[BADGEKIT API INSTALL]
API_LOCAL_INSTALL = 
API_INSTALL_LOCATION =
API_VARIABLES_FILE = 
API_LOG_LOCATION = 

[BADGEKIT ADMIN INSTALL]
ADMIN_LOCAL_INSTALL =
ADMIN_INSTALL_LOCATION = 
ADMIN_VARIABLES_FILE =
ADMIN_LOG_LOCATION = 

[BADGEKIT API VARIABLES]
DB_HOST = 
DB_NAME = 
DB_PASSWORD =
DB_USER = 
MASTER_SECRET = 
API_PORT = 
NODE_ENV =

[BADGEKIT ADMIN VARIABLES]
COOKIE_SECRET = 
ADMIN_PORT = 
OPENBADGER_SYSTEM = 
OPENBADGER_URL = 
OPENBADGER_SECRET = 
DATABASE_DRIVER = 
DATABASE_HOST = 
DATABASE_USER = 
DATABASE_PASSWORD =
DATABASE_DATABASE =
PERSONA_AUDIENCE = 
API_SECRET = 
BRANDING = 
NODE_TLS_REJECT_UNAUTHORIZED =

[MYSQL]
LOCAL_DATABASE_USER = 
LOCAL_ADMIN_DATABASE_NAME = 
LOCAL_API_DATABASE_NAME = 
LOCAL_DATABASE_PASSWORD = 
