export COOKIE_SECRET={{ COOKIE_SECRET }}
export PORT={{ ADMIN_PORT }}
export OPENBADGER_SYSTEM={{ OPENBADGER_SYSTEM }}
export OPENBADGER_URL={{ OPENBADGER_URL }}
export OPENBADGER_SECRET={{ OPENBADGER_SECRET }}
export DATABASE_DRIVER={{ DATABASE_DRIVER }}
export DATABASE_HOST={{ DATABASE_HOST }}
export DATABASE_USER={{ DATABASE_USER }}
export DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
export DATABASE_DATABASE={{ DATABASE_DATABASE }}
export PERSONA_AUDIENCE={{ PERSONA_AUDIENCE }}
export API_SECRET={{ API_SECRET }}
export BRANDING={{ BRANDING }}
export NODE_TLS_REJECT_UNAUTHORIZED={{ NODE_TLS_REJECT_UNAUTHORIZED }}
